* {
  font-family: "Roboto Condensed", sans-serif;
}
#menu {
  background-color: white;
  .menu {
    .navbar-brand {
      width: 179px;
      height: 65px;
    }
    .nav-item {
      .nav-link {
        color: black;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .item {
      margin-left: 30px;
      .link {
        text-decoration: none;
        img {
          width: 30px;
          height: 30px;
        }
        #phone {
          margin-left: 10px;
          color: red;
          font-weight: bold;
          font-size: 24px;
        }
      }
    }
  }
}
#navbar {
  background-color: white;
  position: fixed;
  top: -150px;
  width: 100%;
  transition: top 0.3s;
  z-index: 999;
  .navbar-brand {
    margin-left: 150px;
  }
}
#banner {
}
#info {
  text-align: center;
  margin-top: 3%;
  .infoo {
    padding: 15px;
    border-radius: 10px;
    border: 2px dashed;
    h5 {
      font-weight: bold;
      font-size: 18px;
      span {
        color: red;
      }
    }
    em {
      color: black;
      font-weight: bold;
    }
  }
}

#phoicanh {
  margin-top: 5%;
  .cap {
    h3 {
      font-size: 26px;
      text-align: center;
      font-weight: bold;
    }
    p {
      font-size: 16px;
      span {
        font-weight: bold;
      }
    }
  }
  .content {
    .plus-zoom:hover::before {
      right: 50%;
      left: 50%;
      background-color: rgba(255, 255, 255, 0.5);
    }
    .plus-zoom:hover::after {
      top: 50%;
      bottom: 50%;
      background-color: rgba(255, 255, 255, 0.5);
    }
    .plus-zoom::before,
    .plus-zoom::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      -webkit-transition: all 0.4s ease;
      -moz-transition: all 0.4s ease;
      -ms-transition: all 0.4s ease;
      -o-transition: all 0.4s ease;
      transition: all 0.4s ease;
      z-index: 1;
    }
  }
  .tt-content {
    p {
      a {
        color: red;
        text-decoration: none;
      }
      span {
        font-weight: bold;
      }
    }
  }
}

#tiendo {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 3%;
  background-color: rgb(19, 28, 69);
  clip-path: polygon(
    0 0,
    calc(50% - 30px) 0,
    50% calc(0% + 30px),
    calc(50% + 30px) 0,
    100% 0,
    100% 100%,
    0 100%
  );
  .cap-main {
    h3 {
      font-size: 26px;
      color: white;
      text-align: center;
      font-weight: bold;
    }
    &:after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background: #c4161c;
      margin: 2px auto 0;
    }
  }
  .ct-tiendo {
    margin-top: 50px;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    p {
      span {
        font-size: 22px;
        font-weight: bold;
      }
    }
  }
  .ct {
    margin-top: 50px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
  }
}

#lienket {
  .cap-main {
    padding-top: 50px;
    padding-bottom: 50px;
    h3 {
      font-size: 26px;
      color: black;
      text-align: center;
      font-weight: bold;
    }
    &:after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background: #c4161c;
      margin: 2px auto 0;
    }
  }
  .coll {
    margin-bottom: 10px;
    border: solid 1px #c4161c;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    &:hover {
      color: #c4161c;
    }
  }
  #d1,
  #d2,
  #d3,
  #d4,
  #d5 {
    border: solid 1px #c4161c;
    padding: 20px;
    p {
      span {
        font-weight: bold;
      }
    }
  }
}

#tienich {
  margin-top: 2%;
  .cap-main {
    padding-top: 50px;
    padding-bottom: 50px;
    h3 {
      font-size: 26px;
      color: black;
      text-align: center;
      font-weight: bold;
    }
    &:after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background: #c4161c;
      margin: 2px auto 0;
    }
  }
}

#matbang {
  margin-top: 2%;
  .cap-main {
    padding-top: 50px;
    padding-bottom: 50px;
    h3 {
      font-size: 26px;
      color: black;
      text-align: center;
      font-weight: bold;
    }
    &:after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background: #c4161c;
      margin: 2px auto 0;
    }
  }
  .plus-zoom:hover::before {
    right: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .plus-zoom:hover::after {
    top: 50%;
    bottom: 50%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  .plus-zoom::before,
  .plus-zoom::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 1;
  }
  .cap-mat {
    text-align: center;
    &:hover {
      color: rgb(224, 155, 6);
    }
  }
}

#tintuc ,#content {
  margin-top: 2%;
  .cap-main {
    padding-top: 50px;
    padding-bottom: 50px;
    h3 {
      font-size: 26px;
      color: black;
      text-align: center;
      font-weight: bold;
    }
    &:after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      background: #c4161c;
      margin: 2px auto 0;
    }
  }
  img {
    height: 200px;
    width: 350px;
  }
  .plus {
    &:hover {
      opacity: 0.8;
      transition: all 0.5s;
    }
  }
  a {
    text-decoration: none;
    .cap-mat {
      margin-top: 5%;
      text-align: center;
      h3 {
        color: black;
        font-weight: bold;
        font-size: 17px;
        &:hover {
          color: rgb(224, 155, 6);
        }
      }
      p {
        color: black;
        font-size: 15px;
      }
    }
  }
  .info {
    color: #aaa2a2;
    padding-left: 10px;
    span {
      padding-left: 5px;
    }
  }
}

#content {
  .tt{
   .abc{
     width: 1000px;
     height: 400px;
   }
    h3{
      text-align: center;
      color: rgb(224, 155, 6);
    }
  }
  ul {
    list-style: none;
    display: flex;
    li {
      margin: 3%;
    }
    li:hover {
      transform: translate(0, -0.5em);
      transition: all 0.5s ease 0s;
    }
  }
  #inf {
    margin-left: 300px;
    i {
      color: #f1f1f1;
    }
    li:nth-child(1) {
      i {
        color: #0e508a;
      }
    }
    li:nth-child(2) {
      i {
        color: #002aff;
      }
    }
    li:nth-child(3) {
      i {
        color: rgb(199, 56, 56);
      }
    }
    li:nth-child(4) {
      i {
        color: #ff0000;
      }
    }
    li:nth-child(5) {
      i {
        color: #e63ea0;
      }
    }
  }
}

#searchbox {
  position: relative;
  width: 100px;
  height: 35px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 15px;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  background-size: 30px 23px;
  background-position: 5px 11px;
  background-repeat: no-repeat;
  padding-left: 12px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

#searchbox:focus {
  width: 250px;
  border-radius: 15px;
  outline: none;
}

#tinnew {
  margin-top: 5%;
  /* Let's get this party started */
  /* Track */
  /* Handle */
  h2 {
    margin-top: 5%;
    line-height: 1 !important;
    border-radius: 5px;
    height: 33px;
    background-color: #c4161c;
    span {
      padding-left: 10px;
      bottom: 5px;
      position: relative;
      color: white;
      font-size: 16px !important;
      text-transform: uppercase;
      border-radius: 5px;
    }
  }
  .scroll {
    overflow: hidden;
    overflow-y: scroll;
    height: 350px;
    background-color: white;
    scrollbar-arrow-color: black;
    scrollbar-face-color: black;
    scrollbar-track-color: gray;
    padding: 10px;
    /*   scrollbar-3dlight-color: gray; */
    /*   scrollbar-highlight-color: white; */
    scrollbar-shadow-color: black;
    p {
      list-style: none;
      font-weight: 400px;
      font-size: 14px;
      color: #333333;
      border-bottom: 1px solid #c0c0c0;
      padding-left: 3%;
      height: auto;
      margin-bottom: 5%;
      line-height: 23px;
      text-overflow: ellipsis;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
    a {
      text-decoration: none;
      display: flex;
      i {
        padding-top: 5px;
        color: #c4161c;
      }
    }
    p:hover {
      color: #c4161c;
    }
  }
  ::-webkit-scrollbar {
    width: 7px;
  }
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #c4161c;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    &:window-inactive {
      background: #c4161c;
    }
  }
}

.phan {
  margin-top: 5%;
  .page-item {
    .page-link {
      z-index: 1;
      color: black;
      border-color: #c4161c;
    }
  }
  .active {
    .page-link {
      z-index: 1;
      color: #fff;
      background-color: #c4161c;
      border-color: #c4161c;
    }
  }
}

#footer {
  margin-top: 3%;
  background-color: black;
  text-align: center;
  padding: 20px;
  img {
    width: 600px;
  }
  p {
    margin-top: 20px;
    color: white;
    font-size: 22px;
    font-weight: bold;
  }
}

#IntroMenu {
  position: fixed;
  z-index: 9999;
  top: 30%;
  right: -100px;
  a {
    display: block;
    height: 41px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    text-align: center;
    .icon1,
    .icon2,
    .icon3 {
      font-size: 25px;
      width: 41px;
      height: 41px;
      position: absolute;
      z-index: 1;
      top: -5px;
      right: -10px;
      border-radius: 41px;
      color: #fff;
      box-shadow: 0 0 3px #cdcdcd;
      line-height: 42px;
    }
    .icon1 {
      background-color: blue;
    }
    .icon2 {
      background-color: purple;
    }
    .icon3 {
      background-color: yellow;
    }
  }
}

#Intro {
  position: fixed;
  z-index: 9999;
  left: 1%;
  bottom: -5px;
  a {
    display: block;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
    text-align: center;
    .icon5 {
      img {
        width: 150px;
        height: 50px;
      }
    }
    .icon6 {
      img {
        width: 150px;
        height: 50px;
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1100px) {
  .menu {
    .nav-item {
      .nav-link {
        color: black;
        font-size: 10px !important;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .item {
      margin-left: 30px;
      .link {
        text-decoration: none;
        img {
          width: 30px;
          height: 30px;
        }
        #phone {
          margin-left: 10px;
          color: red;
          font-weight: bold;
          font-size: 14px !important;
        }
      }
    }
  }
  #IntroMenu {
    display: none !important;
  }
  #Intro {
    display: none !important;
  }
  #content {
    .tt{
      .abc{
        width: 100% !important;
        height: auto !important;
      }
    }
    #inf {
      margin-left: 0px;
    }
  }
}

@media (min-width: 700px) and (max-width: 900px) {
  .menu {
    .navbar-brand {
      width: 80px !important;
      height: 55px !important;
    }
    .nav-item {
      .nav-link {
        color: black;
        font-size: 10px !important;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    .item {
      margin-left: 30px;
      .link {
        text-decoration: none;
        img {
          width: 10px !important;
          height: 10px !important;
        }
        #phone {
          margin-left: 10px;
          color: red;
          font-weight: bold;
          font-size: 10px !important;
        }
      }
    }
  }
  #IntroMenu {
    display: none !important;
  }
  #Intro {
    display: none !important;
  }
  #navbar {
    display: none;
  }
  #content {
    .tt{
      .abc{
        width: 100% !important;
        height: auto !important;
      }
    }
    #inf {
      margin-left: 0px;
    }
  }
}

@media (min-width: 300px) and (max-width: 700px) {
  #IntroMenu {
    display: none !important;
  }
  #Intro {
    display: none !important;
  }
  #navbar {
    display: none;
  }
  #content {
    .tt{
      .abc{
        width: 100% !important;
        height: auto !important;
      }
    }
    #inf {
      margin-left: 0px;
    }
  }
}
